<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Chatroom,Vervoerregio,Amsterdam">
    <meta name="author" content="Tom Poortman">
    <meta name="description" content="Chatroom that follows the styleguide of Vervoerregio Amsterdam">

    <link rel="stylesheet" href="styles/style.css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/script.js" defer></script>

    <title>Toolgankelijk - Chatroom</title>
</head>

<body>

    <header>
        <div class="site-nav">
            <a href="/">
                <img src="/images/vervoerregio_amsterdam_logo.svg" alt="vra-logo">
            </a>

            <nav>
                <a class="my-profile" href="/">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M15 29C22.7322 29 29 22.7322 29 15C29 7.2678 22.7322 1 15 1C7.2678 1 1 7.2678 1 15C1 22.7322 7.2678 29 15 29Z"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M15 14.3C15.9283 14.3 16.8185 13.9313 17.4749 13.2749C18.1313 12.6185 18.5 11.7283 18.5 10.8C18.5 9.87179 18.1313 8.98155 17.4749 8.32518C16.8185 7.6688 15.9283 7.30005 15 7.30005C14.0717 7.30005 13.1815 7.6688 12.5251 8.32518C11.8687 8.98155 11.5 9.87179 11.5 10.8C11.5 11.7283 11.8687 12.6185 12.5251 13.2749C13.1815 13.9313 14.0717 14.3 15 14.3Z"
                            stroke="white" stroke-width="2" stroke-linejoin="round" />
                        <path
                            d="M5.21539 25.0324C5.45619 21.3847 8.49139 18.5 12.2 18.5H17.8C21.5037 18.5 24.5361 21.377 24.7839 25.0177"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="status" style="background-color: green;">
                        
                    </div>
                </a>
                <button>
                    <img src="" alt="theme">
                </button>
                <button>
                    <img src="/images/all_members.svg" alt="all-members">
                </button>
            </nav>
        </div>
    </header>