<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Chatroom,Vervoerregio,Amsterdam">
    <meta name="author" content="Tom Poortman">
    <meta name="description" content="Chatroom that follows the styleguide of Vervoerregio Amsterdam">

    <link rel="stylesheet" href="styles/style.css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/script.js" defer></script>

    <title>Toolgankelijk - Chatroom</title>
</head>

<body>

    <header>
        <div class="site-nav">
            <a href="/">
                <img src="/images/vervoerregio_amsterdam_logo.svg" alt="vra-logo">
            </a>
        </div>
    </header>