<%- include('./partials/head.ejs') %>

  <main class="chatroom">
    <section class="chat">
      <ul></ul>

      <form>
        <input type="text" autocomplete="off" />
        <button><span>Send</span></button>
      </form>
    </section>

    <section class="all-members">
      sdf
    </section>


  </main>

  <%- include('./partials/foot.ejs') %>