<%- include('./partials/head.ejs') %>

    <main class="start">
        <h1>Tijdelijk chatroom profiel</h1>
        <form action="/connect" method="POST">
            <label>
                Hoe wil je genoemd worden?
                <input type="text" placeholder="Henk" required>
            </label>
            <button type="submit">Verbind</button>
        </form>
    </main>

    <%- include('./partials/foot.ejs') %>